.stat-item {
  margin-top: 2rem;
  /* font-family: Helvetica,Arial,sans-serif; */
  font-size: 1em;
  font-weight: 700;
  color: azure;
  text-transform: uppercase;
  text-align: center;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  clear: both;
    overflow: hidden;
    /* visibility: hidden; */
}


.HeadInfo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
    flex-wrap: wrap;
  height: 14rem;
  gap: 5rem;
  background: linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246))
    rgb(255, 255, 255);
}

.stat2{
  font-size: 1.5rem;
}


