.navbar {
    display: flex;
  position: sticky;
  top: 0;
  z-index: 20;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  background-color: #ffffff;
  border-bottom: 1px solid #0000001c;
}
.menu {
  cursor: pointer;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.logo {
  cursor: pointer;
  width: 6%;
}
.search {
  cursor: pointer;
}
.settings {
  cursor: pointer;
}
.actionbtn {
  cursor: pointer;
  border: none;
  padding: 0.6rem 1.3rem;
  font-weight: 700;
  font-size: 1em;
}
